<%=@fb%>
<div class="row">
    <div class="col-xs-4">
        <div class="page-header">
            <h1>On Facebook &nbsp; <small>Today</small></h1>
        </div>
        <% @fb.each do |post|%>
        <div class="fb-post" data-href="https://www.facebook.com/SNUBamboo/posts/<%=post[0]%>/" data-width="300">
            <div class="fb-xfbml-parse-ignore">
            </div>
        </div><br><br>
        <% end %>
    </div>
    <div class="col-xs-4">
        <div class="page-header">
            <h1>On Twitter &nbsp; <small>Today</small></h1>
        </div>
        <% @twit.each do |postid|%>
            <% end %>
    </div>
    <div class="col-xs-4">
        <div class="page-header">
            <h1>On Instagram &nbsp; <small>Today</small></h1>
        </div>
        <% @insta.each do |postid|%>
            <% end %>
    </div>

