<div class="row">
    <div class="page-header">
        <h1>Facebook Follow List &nbsp; <input type="text"><span class="glyphicon glyphicon-plus"></span></h1>
    </div>
    <div class="col-xs-12">

    </div>
</div>